input {
    margin: 10px;
}

.div99 {
    width: 150px;
    height: 50px;
    background: silver;
    position: absolute;
    
}


.div1 {
    height: 400px;
    width: 400px;
    border: 2px solid black;
    background-color: mediumaquamarine;
    position: relative;
}

.div2 {
    position: absolute;
    color: antiquewhite;
    top: 50%;
    left: 50%;

}

ol {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.li {
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    margin: 10px;
}