body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #818225;
    font-size: 2em;

}

div {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    box-shadow: 0 4px 4px black;
    width: 99vw;
    padding: 2em 0;
    margin-bottom: .5em;
    text-align: center !important;
    display: flex;
    justify-content: center;
}

.box {
    width: 70%;
}

div#a2,
div#a4,
div#a5,
div#a6,
div#a7,
div#a8,
div#a9,
div#b1 {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}