
body{
    margin: 0;
    padding: 0;
    background-color: rgb(52, 79, 233);
}


*{
    box-sizing: border-box;
}


.box{
    margin: 0 auto;
    width: 800px;
    background-color: white;
}

.main {
    display: flex;
}

.header{
    width: 800px;
    height: 200px;
    border: 2px solid red;
    border-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;

    font-size: 1.5em;
   
}

.nav{
    width: 100px;
    height: 400px;
    border: 2px solid orangered ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    
}

.section{
    width: 700px;
    height: 400px;
    border: 2px solid orangered;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 2em;

   
}

.footer{
    width: 800px;
    height: 200px;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}
